
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

venv/
.venv/
env/
ENV/


Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store


*~


.vscode/

.idea/

.pysh_history
.custom_shell_history

*.log

*.tmp
*.bak
*.swp

build/
dist/
*.spec
